.kgRow{
   margin:10px;
   height:100%;
   
}
.text{
   width:100%;
   height:100%;
   line-height: 10px;
   border:2px dashed black;
   text-align: center;
}
.date{
   width:100%;
   height:100%;
   line-height: 10px;
   border:2px dashed black;
   text-align: center;
}